.Pokegame-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px; */
}

.Pokegame-h1-winner {
  color: #4caf50;
}

.Pokegame-h1-loser {
  color: #e91e66;
}

@media (max-width: 1200px) {
  .Pokegame-container {
    grid-template-columns: repeat(3, 1fr);
  }
} ;
