.Pokedex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px; */
}

.Pokedex-h1-winner {
  color: #4caf50;
}

.Pokedex-h1-loser {
  color: #e91e66;
}

@media (max-width: 1200px) {
  .Pokedex-container {
    grid-template-columns: repeat(3, 1fr);
  }
} ;
